@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
    font-family:sterilict ;
    src: url(Sterilict-L3aen.ttf);
}

@font-face {
    font-family:ature;
    src: url(Atures500PersonalUseOnly-GD6D.ttf);
}

*{
    padding: 0;
    margin: 0;
}

.loader-container{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.91);
}

.loading{
    position: fixed;
   display: flex;
   align-items: center;
   flex-direction: column;
   left: 50%;
   top: 50%;
   gap: 20px;
   transform: translate(-50%,-50%);
}

.loader-text{
    font-family: sterilict;
    font-size: 1.2rem;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loader-text{
    color: white;
}

.background{
    background-image: url(./img/tatouine3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

.background::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.planet-attribute{
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.837);
}

h1{
    padding: 10%;
    font-size: 6rem;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: sterilict;
}

.arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10%;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.fa-arrow-left{
    cursor: pointer;
}

.fa-arrow-right{
    cursor: pointer;
}

.planet-attribute{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}

.attribute-container {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

strong{
    font-family: sterilict;
}

.attribute{
    font-family: ature;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
}